<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="com.rossgerbasi.cordova.glass.core"
        version="0.0.2">

    <name>GlassCore</name>

    <keywords>cordova,google glass,glass,android</keywords>

    <description>
        Plugin to add Google Glass Support to your Cordova Application. Additional JS plugin allows developer to get voice prompt speech to text results.
    </description>

    <license>MIT</license>

    <author>Ross Gerbasi</author>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/cordova-glass-core.js" name="GlassCore">
        <clobbers target="com.rossgerbasi.cordova.glass.core"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <preference name="fullscreen" value="true"/>
            <feature name="GlassCore">
                <param name="android-package" value="com.rossgerbasi.cordova.glass.GlassCorePlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.rossgerbasi.cordova.glass.GoogleGlassActivity"
                    android:finishOnTaskLaunch="true"
                    android:launchMode="singleInstance"
                    android:noHistory="true"
                    android:theme="@style/GlassTheme">
                <intent-filter>
                    <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
                </intent-filter>
                <meta-data
                        android:name="com.google.android.glass.VoiceTrigger"
                        android:resource="@xml/app_launch_voice_trigger"/>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
            <uses-library android:name="com.google.android.glass" android:required="true"/>
        </config-file>

        <source-file
                src="res/xml/app_launch_voice_trigger.xml" target-dir="res/xml"/>

        <source-file
                src="res/values/styles.xml" target-dir="res/values"/>
        
        <source-file
                src="res/values/glass.xml" target-dir="res/values"/>                

        <source-file src="src/com/rossgerbasi/cordova/glass/GoogleGlassActivity.java"
                     target-dir="src/com/rossgerbasi/cordova/glass"/>
        <source-file src="src/com/rossgerbasi/cordova/glass/GlassCorePlugin.java"
                     target-dir="src/com/rossgerbasi/cordova/glass"/>
    </platform>
</plugin>